.About {
    display: flex; /* Enable Flexbox */
    justify-content: center; /* Center horizontally */
}

.AboutContainer {
    text-align: center; /* Center text inside the container */
    display: flex; /* Enable Flexbox */
    justify-content: center; /* Center horizontally */
}

.AboutContent {
    display: flex; /* Enable Flexbox */
    justify-content: center; /* Center horizontally */
    flex-direction: column; /* Stack items vertically */
    width: 90%;
    max-width: 500px;
}