.About {
    display: flex; /* Enable Flexbox */
    justify-content: center; /* Center horizontally */
    height: 100vh; /* Make the container take the full viewport height */
}

.AboutContainer {
    text-align: center; /* Center text inside the container */
}