.AnimeContainer {
    display: grid; /* Use CSS Grid */
    grid-template-columns: repeat(7, 1fr); /* Create 7 equal-width columns */
    gap: 16px; /* Add spacing between items (optional) */
    justify-items: center; /* Center items horizontally (optional) */
    align-items: center; /* Center items vertically (optional) */
}

.animeSearchBar {
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 20px; /* Optional: Add margin for spacing */
    gap: 10px; /* Optional: Add spacing between input and button */
    width: 30%;
    height: 30px;
    border-radius: 8px; /* Rounded corners */
    background-color: #f0f0f0; /* Light background color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.animeButtonsContainer {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically (if applicable) */
    margin-top: 20px; /* Optional: Add spacing above the buttons */
    gap: 10px; /* Optional: Add spacing between buttons */
}

.buts28 {
    width: 6%;
    height: 30px;
}

.searchLocation {
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 20px;
}

@media (max-width: 768px) {
    .AnimeContainer {
        margin: 15px;
        grid-template-columns: repeat(2, 1fr); /* Display 2 items per row on smaller screens */
    }

    .animeButtonsContainer{
        margin-bottom: 20px;
    }

    .buts28 {
        width: 20%;
        height: 30px;
    }
}