.Create {
    margin-left: 5%;
}

.createPostContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.titleInput {
    width: 90%;
    padding: 20px 20px 10px 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #f7f9fa;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
}

.createButtonContainerForCreate {
    margin-left: 2%;
    width: 90%;
    display: flex;
    justify-content: space-between; /* Adds space between buttons */
    gap: 10px; /* Optional: Adds consistent spacing between buttons */
    margin-top: 20px; /* Optional: Adds spacing above the button container */
}

.createButtonForCreate {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 9%;
    width: 100px;
}